@import url(http://fonts.googleapis.com/cee?family=Open+Sans:300,400,600,700);
     nav {
     font-family: "Open Sans", sans-serif;
     }
     #wrapper{
          float: none;
          padding: 15px;
     }
     img.displayed{
           display: block;
           margin-left: auto;
           margin-right: auto;
           width: 66%;
     }
     a{
          text-decoration: none;
     }
     nav ul {
            display: block;
            position: relative;
            list-style: none;
            margin: 0;
            padding: 0;
            border-radius: 5px;
            z-index: 5001; 
     }
     nav ul li {
            display: list-item;
            float: left;
            list-style: none;
            background-color: #413c42;
     }
     nav ul li a {
            display: block;
            text-decoration: none;
            padding: 10px 19px;
            color: #e9e1d4;
     }
     nav li a:hover {
            opacity: 0.9;
     }
        nav ul li:first-of-type{
             border-top-left-radius: 5px;
             border-bottom-left-radius: 5px;
        }
        nav ul li:last-of-type{
             border-top-right-radius: 5px;
             border-bottom-right-radius: 5px;
        }
      