<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Static and Relative Positioning</title>
        <link rel="stylesheet" type="text/css" href="layout.css" media="screen">
    </head>
    <body>
        <header id="header">Header</header>
            <div id="wrapper">
                <div id="main">Main content</div>
                <aside id="aside">Sidebar</aside>
                <nav id="nav">Navigation</nav>
            </div>
        <footer id="footer">Footer</footer>
    </body>
</html>
